*{
    margin: 0;
    padding: 0;
    color: rgba(236, 234, 231, 0.938);
}
body{
    background-color: rgb(173, 173, 19);
}

header {
    display: grid;
    grid-template-columns: 91% 3% 3% 3%;
    grid-template-rows: auto;
    margin: 40px;
  }
  #Logo{
      width: px;
      height: 40px;
      border-radius:30%;
      border: 5px black;
  }

  #faceboock{
      width: 30px;
      height: 30px;
      border-radius: 70%;
  }
  #whatsapp{
    width: 30px;
    height: 30px;
    border-radius: 70%;
  }

  #twitter{
    width: 30px;
    height: 30px;
    border-radius: 70%;
  }
  header div {
      background: black;
  }

  nav{
      display: grid;
      grid-template-columns: repeat(4,25%);
      margin: 40px;
  }

  nav div{
      border: black solid 2px;
      text-align: center;
      background: black;
  }

  nav :hover{
      background-color: rgb(236, 223, 34);
  }